* {
  list-style-type: none;
  margin: 0;
  box-sizing: border-box;
}

@-ms-viewport{ width: device-width; }

img {
  max-width: 100%;
}

$text-blue:RGB(38, 120, 184);
$accent-grey:RGB(174, 188, 199);
$footer-color: RGB(8, 52, 82);
$font1: 'Open Sans', Verdana, sans-serif;
$font2: 'Oswald', Verdana, sans-serif;

header {
  background: url("http://placekitten.com/g/1300/550");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  width:100%;

  .left-top {
    display: inline-block;
    font-family: $font1;
    text-transform: uppercase;
    padding: 0;

    li {
      display: inline-block;
    }
  }

  .right-top {
    float: right;
    font-family: $font2;
    font-size: 1.1em;
    text-transform: uppercase;
    li {
      display: inline-block;
      position: relative;
      top: 1em;
    }
  }

  .search::after {
    content: url("../icons/search.png");
    display: inline-block;
  }

  img.logo {
    position: relative;
    top: .5em;
  }

  .logo-text {
    position: relative;
    top: -1em;
  }

  a {
    text-decoration:none;
  }

  a:visited, a:link, a:active {
    color: white;
  }
}

.container {
  margin: 0 12.5% 0 10.5%;
}

.wrapper {
  margin: 2% 11%;
}

h1 {
  color: white;
  font-family: $font1;
  font-size: 6vw;
  padding: 6% 12%;
  text-transform: uppercase;
}

article {
  float: left;
  width: 70%;
}

h2 {
  font-family: $font2;
  font-size: 4em;
  line-height: 100%;
  text-transform: uppercase;
}

h4 {
  color: $text-blue;
  font-family: $font2;
  text-transform: uppercase;
}

.main-copy {
  font-family: $font1;
  padding: 1em 3em 1em 0;
}

.main-section {
  clear: both;
  float: left;
}

blockquote {
  border-left: 3px solid $accent-grey;
  color: $text-blue;
  padding: 1em;
  margin: 0.5em 0 1em 0em;
  font-family: $font1;
  text-transform: uppercase;
}

.buttons li {
  display: inline-block;
  padding: .5em 2em 0 0;
}

.secondary {
  h2 {
  text-align: center;
  padding: 1em;
  }
}

aside {
  float: left;
  width: 30%;
  background-color: white;
  color: black;
  padding: 2em 0 2.65em 1.5em;
}

.tiny-author-wrap {
  margin-top: .75em;
}

.tiny-author {
  color: $text-blue;
  display: inline-block;
  font-family: $font1;
  position: relative;
  top: -.5em;
}

.tiny-author-avatar {
  border-radius: 50px;
}

.author-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
}

.author-social {
  background-color: white;
  padding: 0 0 1em .5em;
}

.btn-all {
  padding: 0 2.5em 2em 2em;
}

.btn-wrap {
  display: inline-block;
  height: 30px;
  padding-right: .25em;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

hr {
  clear:both;
}

.icon {
  background: $text-blue;
  color: white;
  float: left;
  height: 100%;
  width: 35px;
  margin: 0;
  transition: all 1s ease;
}

.comments {background: url('../icons/comments.png') #333333 1% no-repeat;}
.later {background: url('../icons/later.png') #333333 1% no-repeat;}
.share {background: url('../icons/share.png') #333333 1% no-repeat;}

.text {
  float: left;
  font-family: $font1;
  background: #999999;
  height: 100%;
  color: #FFFFFF;
  margin: 0;
  line-height: 27px;
  padding: 2px 10px 2px 6px;
  transition: background 1s ease;

  &:hover {
    background: lightblue;
  }
}

.author {
  color: $text-blue;
  text-align: center;
  font-family: $font1;
}

.social {
  color: $accent-grey;
  padding: 0;
  margin: 0 auto;
  width: 72%;
  li {
    float: left;
    padding: .25em;
  }
}

.ad {
  padding: 2.25em 1em 0 0;
}

.about-ad {
  text-align: right;
  padding-right: 6%;
}

.bottom-row {
  float: left;
  background: blue;
  width: 25%;
  img {
    opacity: 0.5;
    transition: opacity 0.4s ease-in-out;
  }
  &:hover {
    opacity: 0.8;
  }
}

footer {
  background-color: $footer-color;
  clear: both;
  color: white;
  display: block;
  font-family: $font1;
}

.bottom-left {
  display: inline;
  li {
    display:inline-block;
    vertical-align: middle;
  }
}

.tiy:before {
  content: url("../icons/theironyard.png")
}

.bottom-right {
  float: right;
  position: relative;
  top: 1em;
  right: 2em;
  li {
    float: left;
  }
}


@media screen and (max-width: 40em){

  .container {
    margin: 0;
  }


  .left-top {
    position: relative;
    top:.25em;
    left:1em;
    li {
      display: inline-block;
    }
  }

  .right-top {
    display: none;
  }


  h1 {
    color: white;
    font-family: $font1;
    font-size: 6vw;
    padding: 6% 20%;
    text-transform: uppercase;
  }

  article {
    padding: 1em 2em 0 2em;
    width: 95%;
  }

  .main-copy {
    font-family: $font1;
    padding: 0;
  }

  h2 {
    font-size: 2em;
  }
  .wrapper{
    margin: 0 auto;
  }

  .tiny-author-avatar {
    margin:.25em;
  }

  .btn-all {
    display: block;
    padding:0;
    margin: .5em 0;
  }

  .btn-wrap {
    margin: .25em;
    width: 100%;
  }

  aside {
    width: 99%;
    padding: 0;
  }

  .aside-blurb {
    padding: 1em 3em;
  }
  .author-social{
    padding: 2.25em 0 1em 0;
  }

  .social {
    padding: 0;
    margin: 0 auto;
    width: 50%;
  }

  .ad {
    margin: 0 12%;
  }

  .about-ad {
    padding-right: 12%;
  }

  .bottom-row {
    float: left;
    background: blue;
    width: 100%;
    img {
      opacity: 0.5;
      transition: opacity 0.4s ease-in-out;
      width: 100%;
    }
    &:hover {
      opacity: 0.8;
    }
  }

  .bottom-left {
    display: inline-block;
    vertical-align: middle;
    font-size: .75em;
    padding: 0 0 0 5%;
    li {
      display:inline-block;
      vertical-align: middle;
    }
  }

  .bottom-right {
      display: inline-block;
      float: none;
      position: relative;
      top: 0;
      left: 4em;

    li {
      display: inline-block;
    }
  }

}

@media screen and (min-width: 41em) and (max-width: 70em) {
  h2 {
    font-family: 'Oswald', Verdana, sans-serif;
    font-size: 3em;
    line-height: 100%;
    text-transform: uppercase;
  }
}
