* {
  box-sizing: border-box;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.container {
  background-color: rgba(0,0,0,.08);
  max-width: 1300px;
  height: 2104px;
}

.wrapper {

}

.top-left-icons {
  float: left;
  margin-left: 8.5em;
}

.logo-text {
  display: inline-block;
  font-family:'Open Sans';
  font-weight: bold;
  letter-spacing: -.0769em;
  padding: 0em 0em 0em .5em;
  position: absolute;
  text-transform: uppercase;
  top: 1.25em;
}

img.logo {
  padding: .35em 0 0 0;
}

img.glass {

}

nav.right {
  float: right;
  font-family: 'Oswald';
  margin-right: 10em;
  text-transform: uppercase;
}

.right ul {
  margin-top: 1em;
}

.right ul li {
  display: inline-block;
  font-size: 1.15em;
  list-style-type: none;
  padding-left: .5em;
}
li.search:after {
   content: url("icons/search.png");
}
}
header {
  background-color: red;
  height: 500px;
}

h1 {
  color: white;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 6.5em;
  letter-spacing: -.04em;
  text-transform: uppercase;
}

h2 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 3.55em;
  margin: 7% 0% 0 21%;
}

h5 {
  position: absolute;
  top: 20.5em;
  left: 32.75em;
  letter-spacing: -.06em;
  font-family: 'Open Sans';
  font-size: .95em;
}
.main {
  width: 100%;
}
.wordy {
  float: left;
  width: 60%;
}

.sidebar {
  float: left;
  width: 40%;
}

footer {
  background-color:RGBA(8, 52, 82, 1);
}
