* {
  box-sizing: border-box;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.wrapper {
  margin: 0 12.5% 0 10.5%;
}

nav.main li {
  display: inline-block;
  list-style-type: none;
}

.left-top {
  float: left;
  font-family: 'Open Sans';
  text-transform: uppercase;
  padding: 0;
}

.left-top li {

}

img.logo {

}

.logo-text {
  padding: 1em;
}

.right-top {
  float: right;
  font-family: 'Oswald';
  font-size: 1.1em;
  text-transform: uppercase;
}

.right-top li {
  float: left;

}

li.search::after {
  content: url("icons/search.png");
  display: inline-block;
}

.main-section {
  background-color: black;
  color: white;
  clear: both;
  float: left;
}

h1 {
  font-family: 'Open Sans';
  font-size: 6em;
  padding: 2em 0em 2.1em .65em;
  text-transform: uppercase;
}

article {
  width: 70%;
}

h2 {
  font-family: 'Oswald';
  font-size: 4em;
  text-transform: uppercase;
  padding: .75em 0 0 0.45em;
}

aside {
  width: 30%;
}
